# Gitignore file
# Includes a linx and windows variation of each path

Desktop/__pycache__
Desktop\__pycache__

Desktop/UI/__pycache__
Desktop\UI\__pycache__

Desktop/UI/*/__pycache__
Desktop\UI\*\__pycache__

Desktop/log.txt
Desktop/img/*.jpg
Desktop\log.txt
Desktop\img\*.jpg
Desktop/database.sqlite
Desktop\database.sqlite

.git/*
.git\*

.idea\*
.idea/*

venv/*
venv\*

Web\__pycache__
Web/__pycache__
