body {
	font-family: "Arial";
}

h1 {
	text-align: center;
	color: white;
	background-color: #00cc99;
	border: 2px solid #00cc99;
	border-radius: 5rem;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
}

h2 {
	color: white;
	background-color: #ff6600;
	border: 2px solid #ff6600;
	border-radius: 5rem;
	padding-left: 1%;
}

h3 {
	width: 90%;
	margin-left: 2.5%;
	color: white;
	background-color: #0066cc;
	border: 2px solid #0066cc;
	border-radius: 5rem;
	padding-left: 2%;
}

h4 {
	width: 80%;
	margin-left: 5%;
	color: white;
	background-color: #00cc66;
	border: 2px solid #00cc66;
	border-radius: 5rem;
	padding-left: 2%;
}

p {
	margin-left: 5%;
	width: 90%;
}

.text-list {
	margin-left: 5%;
	width: 90%;
}

li {
	margin-bottom: 0.5%;
	margin-top: 0.5%;
}

a {
	display: inline-block;
	text-decoration: none;
	color: white;
	background-color: #cc0000;
	border: 2px solid #cc0000;
	padding: 2%;
	border-radius: 2.5rem;
	transition: all 0.5s;
}

a:hover {
	background-color: #00ff00;
	background-color: #ff0000;
	border-color: #00ff00;
	border-color: #ff0000;
	transform: scale(1.2);
}

.centered {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.current {
	background-color: #33cc33;
	border-color: #33cc33;
}

.current:hover {
	background-color: #00e600;
	border-color: #00e600;
}

.version-link {
	margin: 5%;
	padding: 1%;
}

.old {
	background-color: grey;
	border-color: grey;
	color: black;
}

.old:hover {
	background-color: lightgrey;
	border-color: lightgrey;
	color: black;
}

.spacing-left {
	margin-left: 5%;
}


