body {
	font-family: "Arial";
}

h1 {
	text-align: center;
	color: white;
	background-color: #00cc99;
	border: 2px solid #00cc99;
	border-radius: 5rem;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
}

h2 {
	color: white;
	background-color: #ff6600;
	border: 2px solid #ff6600;
	border-radius: 5rem;
	padding-left: 1%;
}

h3 {
	width: 90%;
	margin-left: 2.5%;
	color: white;
	background-color: #0066cc;
	border: 2px solid #0066cc;
	border-radius: 5rem;
	padding-left: 2%;
}

h4 {
	width: 80%;
	margin-left: 5%;
	color: white;
	background-color: #00cc66;
	border: 2px solid #00cc66;
	border-radius: 5rem;
	padding-left: 2%;
}

p {
	margin-left: 5%;
	width: 90%;
}

.text-list {
	margin-left: 5%;
	width: 90%;
}

li {
	margin-bottom: 0.5%;
	margin-top: 0.5%;
}

code {
	font-family: monospace;
	color: #2c2c2c;
	background-color: #f4f4f4;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.ul-code > li {
	margin-top: 10px;
	margin-bottom: 10px;
}

.code-display {
	width: auto;
	font-family: monospace;
	color: #2c2c2c;
	background-color: #f4f4f4;
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 1%;
	padding-bottom: 1%;
	margin-left: 41.25%;
	margin-right: 41.25%;
}

img {
	width: 90%;
	margin-left: 5%;
}

.top {
	display: block;
	position: fixed;
	bottom: 1%;
	right: 1%;
	z-index: 99;
	color: black;
	background-color: #d9d9d9;
	border: 2px solid #d9d9d9;
	border-radius: 1rem;
	text-decoration: none;
	font-size: 32px;
	padding-left: 0.75%;
	padding-right: 0.75%;
	padding-top: 0.5%;
}

.top:hover {
	background-color:  #bfbfbf;
	border-color:  #bfbfbf;
}

a {
	text-decoration: none;
	color: white;
	background-color: #cc0000;
	border: 2px solid #cc0000;
	border-radius: 2.5rem;
	padding-left: 0.25%;
	padding-right: 0.25%;
}

a:hover {
	background-color: #00ff00;
	background-color: #ff0000;
	border-color: #00ff00;
	border-color: #ff0000;
}

