certifi==2026.6.17
charset-normalizer==3.4.9
CTkFileDialog==0.3.3
CTkListbox==1.5
CTkMessagebox==2.7
CTkSpinbox==1.4.1
CTkToolTip==0.9
customtkinter==6.0.0
darkdetect==0.8.0
idna==3.18
numpy==2.5.1
opencv-python==5.0.0.93
packaging==26.2
pillow==12.3.0
requests==2.34.2
typeguard==4.5.2
typing_extensions==4.16.0
urllib3==2.7.0
